/*************************META STYLES***************************/

* {
	box-sizing: border-box;
}

/*************************PAGE-FORMATS***************************/

#section{
	width: 100%;
	position: relative;
	text-align: center;
}
#game {
	width: 80%;
	min-height: 300px;
	background: white;
	border: 1px solid black;
	margin: 50px auto 0;
}
#section button {
	margin-top: 25px;
}
/*************************LANDING PAGE STYLES***************************/
.body {
	text-align: center;

}
.body {
	background: url("../coding-everest.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}
.nav {
	height: 50px;
	background: #C5D1D9;
}
h1 {
	text-align: center;
	color: white;
	margin-top: 150px;
}
#logo {
	position: absolute;
	left: 0;
	height: 50px;
	width: 50px;
}
button a{
	text-decoration: none;
	color: #8BBC52;
	font-weight: bold;
	padding: 15px;

}
#play {
	text-align: center;
	border: none;
	border-radius: 3px;
	background: #5486B9;

}


/*************************PLAYER STYLES***************************/

.player {
	border: 1px solid black;
	background: black;
	width: 40px;
	height: 40px;
}
.player#one {
	position: relative;
	background: blue;
	top: 60px;
	left: 0px;
}
.player#two {
	position: relative;
	top: 150px;
	left: 0px;

}

/*************************MEDIA QUERY***************************/

@media (max-width: 900px){
	.player {
		width: 30px;
		height: 30px;
	}
	.player#one{
		background: yellow;
	}
	.player#two{
		background: purple;
	}	
	div#game{
		min-height: 250px;
	}
	#play{
		font-style: normal;
		background: #8BBC52;
	}	
	button a{
		color: #5486B9;
	}
	h1 {
		color: black;
	}
}
@media (max-width: 480px){
	.player {
		width: 20px;
		height: 20px;
	}
	.player#one{
		background: red;
	}
	.player#two{
		background: green;
	}	
	div#game{
		min-height: 200px;
	}	
}
